<%- include ('adminHeader') %>

<style>
    .table-bordered {
  border: 1px solid #000000;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000000;
}
</style>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h1 class="content-title card-title">Catagory List</h1>
                <p class="text-bold">List of categories:</p>
            </div>
            <div>
                <a href="/admin/Addcategories" class="btn btn-dark btn-sm rounded">Add new catagory</a>
            </div>
        </div>
       

            <% if (updateSucess.length> 0) { %>
                <script>
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: '<%= updateSucess %>',
                        timer: 3000,
                        showConfirmButton: false
                    });
                </script>
                <% } %>

                    <% if (catSuccess.length> 0) { %>
                        <script>
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: '<%= catSuccess %>',
                                timer: 3000,
                                showConfirmButton: false
                            });
                        </script>
                        <% } %>
                       

            
                    <% if(catagory !="" ) { %>
                        <table class="table table-bordered mt-2 text-center">
                            <thead>
                                <tr class="table-primary">
                                    <th>SL.NO.</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Change Status</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% catagory.forEach((row,index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                                <%= row.name %>
                                        </td>
                                        <td>
                                                <%= row.description %>
                                        </td>
                                        <td>
                                                <%= row.status?'Listed':'Unlisted' %>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-sm rounded"
                                                onclick="categoryStatusConfirmation('<%= row._id %>')">
                                                <%= row.status ? 'Unlist' : 'List' %>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/admin/updatecatagory/<%= row._id %>"
                                                class="btn btn-dark btn-sm rounded">Update
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h1 class="text-center text-secondary mt-5">No catagories found in the database</h1>
                            <% } %>
          
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#">
                                <iclass="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <script>
        function categoryStatusConfirmation(itemId) {
            Swal.fire({
                title: "Are you sure?",
                text: "Are you sure you want to proceed?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm",
                cancelButtonText: "Cancel",
                dangerMode: true,
            })
                .then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/admin/unlistcat/" + itemId;
                    } else {
                        console.log("User canceled");
                    }
                });
        }
    </script>

     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <%- include ('adminfooter') %>