<%- include ('adminHeader') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Admin Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>
            <div class="d-flex justify-content-end pe-4 pt-2">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="salesReportDropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sales Report
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="salesReportDropdown">
                        <li><a class="dropdown-item" href="/admin/dailysales"><i
                                    class="fas fa-calendar-day me-2"></i>Daily</a>
                        </li>
                        <li><a class="dropdown-item" href="/admin/weeklysales"><i
                                    class="fas fa-calendar-week me-2"></i>Weekly</a>
                        </li>
                        <li><a class="dropdown-item" href="/admin/monthlysales"><i
                                    class="fas fa-calendar-alt me-2"></i>Monthly</a></li>
                        <li><a class="dropdown-item" href="/admin/yearlysales"><i
                                    class="fas fa-calendar me-2"></i>Yearly</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Users</h6>
                            <span>
                                <%= userCount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6>
                            <span>
                                <%= totalOrderCount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Discount</h6>
                            <span>
                                <%= totalCouponDiscount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>
                                <%= totalAmount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>



        <div id="chart" class="col-11"></div>
        <div class="col-7 mt-5">

            <p class="btn btn-secondary mb-5" id="bestProducts" value="product">Best selling product</p>
            <p class="btn btn-secondary mb-5" id="bestCategory" value="category">Best selling Category</p>
            <div id="chart2"></div>
        </div>


    </section> <!-- content-main end// -->


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        // Sales Statistics Chart
        var ordersData = "<%- JSON.stringify(orderCounts) %>"
        console.log('ordersData:', ordersData);
        var revenueData = "<%- JSON.stringify(totalAmount) %>"
        console.log('revenueData:', revenueData);
        var discountData = "<%- JSON.stringify(totalCouponDiscount) %>"
        console.log('discountData:', discountData);
        var categories = "<%- JSON.stringify(categories) %>"
        console.log('categories:', categories);
        var text = "<%- JSON.stringify(text) %>"
        console.log('text:', text);


        var options = {
            series: [{
                name: 'Orders',
                type: 'column',
                data: ordersData
            }, {
                name: 'Revenue',
                type: 'line',
                data: revenueData
            }, {
                name: 'Discount',
                type: 'line',
                data: discountData
            }],
            chart: {
                height: 350,
                type: 'line',
            },
            stroke: {
                width: [0, 4]
            },
            title: {
                text: 'Sales Statistics'
            },
            dataLabels: {
                enabled: true,
                enabledOnSeries: [1, 2]
            },
            labels: categories,
            xaxis: {
                type: 'category'
            },
            yaxis: [{
                title: {
                    text: 'Orders',
                },
            }, {
                opposite: true,
                title: {
                    text: 'Revenue / Discount'
                },
            }],
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function (val) {
                        return val + " ";
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#Chart"), options);
        chart.render();

        function updateChart(interval) {

            console.log(`Updating chart for ${interval}`);


            let newData = fetchDataForInterval(interval);


            ApexCharts.exec('yourChartId', 'updateSeries', newData);
        }

    </script>

    <script>
        // Best Selling Chart
        document.addEventListener('DOMContentLoaded', function () {
            let chart2;

            const updateChart = (url, itemDescription) => {
                axios.get(url)
                    .then((res) => {
                        const data = res.data.bestSellingProducts;
                        const categoryData = res.data.bestSellingCategories;

                        let labels = [];
                        let totalSales = [];
                        if (itemDescription === 'Products') {
                            labels = data.map(product => product.productId);
                            totalSales = data.map(product => product.totalSales);
                        } else {
                            labels = categoryData.map(product => product.categoryName);
                            totalSales = categoryData.map(product => product.totalSales);
                        }

                        const options = {
                            series: [{
                                name: `Total Sales`,
                                data: totalSales
                            }],
                            chart: {
                                height: 350,
                                type: 'bar'
                            },
                            title: {
                                text: `Best selling ${itemDescription}`
                            },
                            xaxis: {
                                categories: labels
                            }
                        };

                        if (chart2) {
                            chart2.destroy();
                        }

                        chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                        chart2.render();
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            };

            document.getElementById('bestProducts').addEventListener('click', function (e) {
                e.preventDefault();
                updateChart('/admin/bestsellingproducts', 'Products');
            });

            document.getElementById('bestCategory').addEventListener('click', function (e) {
                e.preventDefault();
                updateChart('/admin/bestsellingcategories', 'Categories');
            });

            // Initialize with Products
            updateChart('/admin/bestsellingproducts', 'Products');
        });
    </script>

    <%- include ('adminfooter') %>