<%- include ('adminHeader') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h1 class="content-title card-title"> Update Coupons </h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form id="addcouponForm" method="post" action="/admin/updatecoupon"
                        onsubmit="return validateForm()">
                        <div class="mb-4">
                            <label for="couponCode" class="form-label">Coupon Code</label>
                            <input type="text" placeholder="Type here" class="form-control" id="couponCode"
                                name="couponCode" value="<%= coupon.couponCode %>" required>
                            <div id="couponCodeError" class="text-danger"></div>
                        </div>

                        <div class="mb-4">
                            <label for="couponType" class="form-label">Coupon Type</label>
                            <select class="form-select" id="couponType" name="couponType" value="<%= coupon.type%>"
                                onchange="updateMaxRedeem()" required>
                                <option value="percentageDiscount">Percentage Discount</option>
                                <option value="flatDiscount">Flat Discount</option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="minimumPrice" class="form-label">Minimum Price</label>
                            <input type="number" class="form-control" id="minimumPrice"
                                value="<%= coupon.minimumPrice %>" name="minimumPrice" required>
                            <span id="minimumPriceError" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="number" class="form-control" id="discount" name="discount"
                                value="<%= coupon.discount %>" oninput="updateMaxRedeem()" required>
                            <span id="discountError" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label for="maxRedeem" class="form-label">Max Redeemable Amount</label>
                            <input type="number" class="form-control" id="maxRedeem" name="maxRedeem"
                                value="<%= coupon.maxRedeem %>" required>
                            <span id="maxRedeemError" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label for="expiry" class="form-label">Expiry</label>
                            <input type="Date" class="form-control" id="expiry" name="expiry"
                            value="<%= new Date(coupon.expiry).toISOString().slice(0, 10) %>"  required>
                            <span id="expiryError" class="text-danger"></span>
                        </div>

                        <input type="hidden" id="couponId" name="couponId" value="<%= coupon._id %>">

                        <button type="submit" class="btn btn-dark">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        function validateForm() {
            var couponCode = document.getElementById('couponCode').value;
            var minimumPrice = document.getElementById('minimumPrice').value;
            var discount = document.getElementById('discount').value;
            var maxRedeem = document.getElementById('maxRedeem').value;
            var expiry = document.getElementById('expiry').value;

            var couponCodeError = document.getElementById('couponCodeError');
            var minimumPriceError = document.getElementById('minimumPriceError');
            var discountError = document.getElementById('discountError');
            var maxRedeemError = document.getElementById('maxRedeemError');
            var expiryError = document.getElementById('expiryError');

            couponCodeError.innerHTML = '';
            minimumPriceError.innerHTML = '';
            discountError.innerHTML = '';
            maxRedeemError.innerHTML = '';
            expiryError.innerHTML = '';

            if (!/^[a-zA-Z0-9]+$/.test(couponCode)) {
                couponCodeError.innerHTML = 'Coupon code must be alphanumeric without spaces.';
                return false;
            }

            if (isNaN(discount) || parseFloat(discount) <= 0) {
                discountError.innerHTML = 'Discount must be a positive number less than or equal to 100.';
                return false;
            }

            if (isNaN(minimumPrice) || parseFloat(minimumPrice) <= 0) {
                minimumPriceError.innerHTML = 'Minimum price must be a positive number.';
                return false;
            }

            if (isNaN(maxRedeem) || parseFloat(maxRedeem) <= 0) {
                maxRedeemError.innerHTML = 'Max redeemable amount must be a positive number.';
                return false;
            }
            if (!validateDateFormat(expiry)) {
                expiryError.innerHTML = 'Please enter the date in DD-MM-YYYY format.';
                return false;
            }
            return true;
        }

        function updateMaxRedeem() {
            console.log('updateMaxRedeem function called');
            var couponType = document.getElementById("couponType").value;
            var maxRedeemInput = document.getElementById("maxRedeem");
            var discountInput = document.getElementById("discount");
            var minimumPriceInput = document.getElementById("minimumPrice");

            console.log('Coupon Type:', couponType);
            console.log('Current Discount:', discountInput.value);
            console.log('Current Minimum Price:', minimumPriceInput.value);

            if (couponType === "flatDiscount") {
                console.log('Flat Discount selected');
                var discountAmount = parseFloat(discountInput.value);
                var minimumPrice = parseFloat(minimumPriceInput.value);

                console.log('Discount Amount:', discountAmount);
                console.log('Minimum Price:', minimumPrice);

                if (discountAmount >= minimumPrice) {
                    console.log('Adjusting discount amount');
                    discountInput.value = minimumPrice - 1;
                }
                maxRedeemInput.value = parseFloat(discountInput.value);
                maxRedeemInput.readOnly = true;
            } else if (couponType === "percentageDiscount") {
                console.log('Percentage Discount selected');
                discountInput.min = 1;
                discountInput.max = 100;
                maxRedeemInput.value = "";
                maxRedeemInput.readOnly = false;
            }

            console.log('Final Max Redeem Value:', maxRedeemInput.value);
        }
    </script>

    <%-include('adminfooter')%>