<%- include('navbar') -%>

    <style>
        .account__login--password {
            position: relative;
        }

        .account__login--password__icon {
            position: absolute;
            top: 40%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 18px;
            color: #999;
        }

        .account__login--input {
            padding-right: 30px;
            /* Add padding to accommodate the eye button */
        }
    </style>


    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__content--title text-white mb-25">SignUp</h1>
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="/">Home</a>
                                </li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">SignUp</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->

        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                <div class="text-danger">
                    <% if (emailError.length> 0) { %>
                        <p>
                            <%= emailError %>
                        </p>
                        <% } %>
                            <% if (passwordError.length> 0) { %>
                                <p>
                                    <%= passwordError %>
                                </p>
                                <% } %>
                                    <% if (referralError.length> 0) { %>
                                        <p>
                                            <%= referralError %>
                                        </p>
                                        <% } %>
                                            <% if (success.length> 0) { %>
                                                <p>
                                                    <%= success %>
                                                </p>
                                                <% } %>
                </div>

                <form action="/signup" method="post">

                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">

                            <div class="col">
                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title h3 mb-10 text-center">Create an Account
                                        </h2>
                                        <p class="account__login--header__desc text-center">Register here if you are a
                                            new customer</p>
                                    </div>
                                    <div class="account__login--inner">
                                        <input class="account__login--input" name="username" id="username"
                                            placeholder="Username" type="text" onblur="validateUsername()" required>
                                        <span id="usernameerror"></span>
                                        <input class="account__login--input" name="email" id="email"
                                            placeholder="Email Addres" type="email" onblur="validateEmail()" required>
                                        <span id="emailerror"></span>
                                        <input class="account__login--input" name="phone" id="phone"
                                            placeholder="Mobile Number" type="text" onblur="validateNumber()" required>
                                        <span id="numbererror"></span>
                                        <div class="account__login--password">
                                            <input class="account__login--input" name="password" id="password"
                                                placeholder="Password" type="password" onblur="validatePassword()"
                                                required>
                                            <span class="account__login--password__icon"
                                                onclick="togglePasswordVisibility('password')">&#128065;</span>
                                        </div>
                                        <span id="passworderror"></span>
                                        <div class="account__login--password">
                                            <input class="account__login--input" name="confirmPassword"
                                                id="confirmPassword" placeholder="Confirm Password" type="password"
                                                onblur="validateConfirmPassword()" required>
                                            <span class="account__login--password__icon"
                                                onclick="togglePasswordVisibility('confirmPassword')">&#128065;</span>
                                        </div>
                                        <span id="ConfirmPassworderror"></span>
                                        <input class="account__login--input" name="referralCode" id="referralCode"
                                            placeholder="Referral Code (Optional)" type="text" onblur="validateReferralCode()">
                                        <span id="referralCodeError"></span>
                                        <button class="accountror__login--btn primary__btn mb-10" type="submit">Submit &
                                            Register</button>
                                        <p class="account__login--signup__text">Already an existing user?<a
                                                href="/login">login</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- End login section  -->
    <%- include('footer') -%>

        <script>
            function validateUsername() {
                var usernameError = document.getElementById('usernameerror');
                var username = document.getElementById('username').value.trim();
                if (username === '') {
                    usernameError.innerHTML = 'Username cannot be empty.';
                    return false;
                }
                if (!username.match(/^(?![\s*]+$)[a-zA-Z0-9]+$/)) {
                    usernameError.innerHTML = 'Username is invalid. It must not contain spaces or special characters.';
                    console.log('55');
                    return false;
                } else {
                    usernameError.innerHTML = '';
                    return true;
                }

            }

            function validateNumber() {
                var numberError = document.getElementById('numbererror');
                var number = document.getElementById('phone').value;
                if (!number.match(/^\d{10}$/)) {
                    numberError.innerHTML = 'Number is invalid. It must be 10 digits.';
                    return false;
                } else {
                    numberError.innerHTML = '';
                    return true;
                }
            }

            function validateEmail() {
                var emailError = document.getElementById('emailerror');
                var email = document.getElementById('email').value;
                if (!email.match(/^[A-Za-z\._\-[0-9]+@[A-Za-z]+\.[a-z]{2,}$/)) {
                    emailError.innerHTML = 'Email is invalid'
                    return false;
                } else {
                    emailError.innerHTML = ''
                    return true;
                }

            }

            function validatePassword() {
                var passwordError = document.getElementById('passworderror');
                var password = document.getElementById('password').value;
                if (!password.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d!@#$%^&*()-_+=<>?]{8,}$/)) {
                    console.log('in');
                    passwordError.innerHTML = 'Password must meet the following criteria:<br>' +
                        '- At least 8 characters in length<br>' +
                        '- At least one letter (uppercase or lowercase)<br>' +
                        '- At least one digit<br>' +
                        '- At least one symbol';
                    return false;
                } else {
                    passwordError.innerHTML = '';
                    return true;
                }
            }

            function validateConfirmPassword() {
                var confirmPasswordError = document.getElementById('ConfirmPassworderror');
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirmPassword').value;

                if (password != confirmPassword) {
                    confirmPassword.innerHTML = 'Password should match';
                    return false;
                } else {
                    confirmPasswordError.innerHTML = '';
                    return true;
                }
            }

            function validateReferralCode() {
                var referralCodeError = document.getElementById('referralCodeError');
                var referralCode = document.getElementById('referralCode').value.trim();
                if (referralCode !== '' && !referralCode.match(/^[A-Z0-9]{6,8}$/)) {
                    referralCodeError.innerHTML = 'Invalid referral code. It should be 6-8 alphanumeric characters.';
                    return false;
                } else {
                    referralCodeError.innerHTML = '';
                    return true;
                }
            }
        </script>

        <script>
            function togglePasswordVisibility(inputId) {
                var passwordInput = document.getElementById(inputId);
                var eyeIcon = passwordInput.nextElementSibling;
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeIcon.innerHTML = "&#128064;";
                } else {
                    passwordInput.type = "password";
                    eyeIcon.innerHTML = "&#128065;";
                }
            }
        </script>