<%- include ('adminHeader') %>

    <style>
        .rounded {
            border-radius: 8px;
        }

        .filter-select {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            border: 2px solid #000000;
            border-radius: 8px;
            background-color: transparent;
            color: #000000;
        }

        select {
            font-weight: bold;
        }
    </style>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Admin Dashboard</h2>
                <p>Whole data about your business here</p>
            </div>
            <div class="d-flex justify-content-end pe-4 pt-2">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="salesReportDropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sales Report
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="salesReportDropdown">
                        <li><a class="dropdown-item" href="/admin/dailysales"><i
                                    class="fas fa-calendar-day me-2"></i>Daily</a>
                        </li>
                        <li><a class="dropdown-item" href="/admin/weeklysales"><i
                                    class="fas fa-calendar-week me-2"></i>Weekly</a>
                        </li>
                        <li><a class="dropdown-item" href="/admin/monthlysales"><i
                                    class="fas fa-calendar-alt me-2"></i>Monthly</a></li>
                        <li><a class="dropdown-item" href="/admin/yearlysales"><i
                                    class="fas fa-calendar me-2"></i>Yearly</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-lg-3 col-md-6">
                <div class="card card-body">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Users</h6>
                            <span>
                                <%= userCount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-body">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Orders</h6>
                            <span>
                                <%= totalOrderCount %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-body">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Coupon Discount</h6>
                            <span>
                                <%= totalCouponDiscount.toFixed(2) %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-body">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Revenue</h6>
                            <span>
                                <%= totalAmount.toFixed(2) %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="container-fluid my-4">
            <div class="d-flex justify-content-end align-items-center mb-3">
                <label class="me-2" for="filter" style="font-weight: bold;">Filter By:</label>
                <select id="filter" class="p-2 rounded filter-select"
                    style="color: #8a8d93; background-color: transparent; font-weight: bold;">
                    <option value="daily" selected>Daily</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
            </div>
            <div style="height: 400px;">
                <canvas id="salesChart"></canvas>
            </div>
        </div>


        <section class="no-padding-bottom">
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="checklist-block block">
                            <div class="title" style="font-weight: bold;">Best Selling Products</div>
                            <div class="checklist">
                                <% for( let i=0; i < 5; i++ ) { %>
                                    <div class="item d-flex align-items-center">
                                        <span style="padding: 4px;">
                                            <%= i+1 %>.
                                        </span>
                                        <label for="input-1">
                                            <%= bestProducts[i]._id %>
                                        </label>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checklist-block block">
                            <div class="title" style="font-weight: bold;">Best Selling Category</div>
                            <div class="checklist">
                                <% for( let i=0; i < 3; i++ ) { %>
                                    <div class="item d-flex align-items-center">
                                        <span style="padding: 4px;">
                                            <%= i+1 %>.
                                        </span>
                                        <label for="input-1">
                                            <%= topCategories[i].category %>
                                        </label>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section> <!-- content-main end// -->



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {

            function fetchSalesData(filter) {
                console.log("Is fetch working for bar graph--------------???");
                fetch(`/admin/salesdata?filter=${filter}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Is this data response working??");
                        console.log(data);
                        console.log("Is this data response working??jhhafafjkskjfaskjhfasjhj ");
                        updateChart(data);
                    })
                    .catch(error => {
                        console.error('Error fetching sales data:', error);
                    });
            }

            // Function to update chart with sales data
            function updateChart(data) {
                console.log('data:', data);
                const labels = data.saleDate;
                const salesData = data.count;

                // Get the canvas element
                const ctx = document.getElementById('salesChart').getContext('2d');

                // If a chart already exists, destroy it before creating a new one
                if (window.salesChart instanceof Chart) {
                    window.salesChart.destroy();
                }


                // Initialize Chart.js with the updated data
                window.salesChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Orders',
                            data: salesData,
                            backgroundColor: 'rgba(54, 162, 235, 0.6)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }

            // Event listener for filter change
            document.getElementById('filter').addEventListener('change', function () {
                const filter = this.value;
                console.log("Filter value is:", filter);
                fetchSalesData(filter);
            });

            // Fetch initial data on page load
            fetchSalesData('daily');
        });
    </script>

    <%- include ('adminfooter') %>