<%- include('navbar') -%>

<style>
  .swal2-popup {
    font-size: 1.2em !important;
    width: 500px !important;
  }

  .swal2-title {
    font-size: 1.5em !important;
  }

  .swal2-content {
    font-size: 1.1em !important;
  }

  .swal2-confirm,
  .swal2-cancel {
    font-size: 1.1em !important;
    padding: 10px 24px !important;
  }

  .transaction-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .transaction-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }

  .transaction-table th,
  .transaction-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  .transaction-table th {
    background-color: #f2f2f2;
  }

  .transaction-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  @media (max-width: 768px) {
    .transaction-card {
      padding: 15px;
    }
  }
</style>

<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="breadcrumb__content text-center">
            <h1 class="breadcrumb__content--title text-white mb-25">
              My Account
            </h1>
            <ul class="breadcrumb__content--menu d-flex justify-content-center">
              <li class="breadcrumb__content--menu__items">
                <a class="text-white" href="/">Home</a>
              </li>
              <li class="breadcrumb__content--menu__items">
                <span class="text-white">My Account</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb section -->

  <!-- my account section start -->
  <section class="my__account--section section--padding">
    <div class="container">
      <div class="my__account--section__inner border-radius-10 d-flex">
        <div class="account__left--sidebar">
          <ul class="account__menu">
            <li class="account__menu--list">
              <a href="/profile">My Profile</a>
            </li>
            <li class="account__menu--list"><a href="/orders">Orders</a></li>
            <li class="account__menu--list">
              <a href="/address">Addresses</a>
            </li>
            <li class="account__menu--list">
              <a href="/resetpassword">change password</a>
            </li>
            <li class="account__menu--list active">
              <a href="/wallet">Wallet</a>
            </li>
            <li class="account__menu--list"><a href="/logout">Log Out</a></li>
          </ul>
        </div>

        <!-- Integrated wallet content -->
        <div class="col-md-8 col-lg-9">
          <div class="tab-content">
            <div class="page-wrapper" id="walletdiv">
              <div class="page-content">
                <div class="dashboard">
                  <div class="container-fluid">
                    <div class="row mt-5">
                      <div class="col-md-8 col-lg-11">
                        <div class="tab-content">
                          <div class="p-5 shadow rounded bg-white">
                            <h2 class="mb-5 text-center" style="color: #000000">
                              Wallet Details
                            </h2>
                            <div class="row">
                              <div class="col-md-6 mb-3">
                                <div class="card" style="width: 100%">
                                  <div class="card-body">
                                    <h5 class="card-title">
                                      <i
                                        class="fa fa-wallet"
                                        style="color: #000000"
                                      ></i>
                                      Wallet Balance
                                    </h5>
                                    <%if(walletDetails){%>
                                    <p class="mt-4">
                                      <strong>Current Balance:</strong>
                                      <span id="walletBalance"
                                        >₹ <%=walletDetails.balance%>
                                      </span>
                                    </p>
                                    <%}else{%>
                                    <p class="mt-4">
                                      <strong>Current Balance:</strong>
                                      <span id="walletBalance">₹0</span>
                                    </p>
                                    <%}%>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <div class="card" style="width: 100%">
                                  <div class="card-body">
                                    <h5 class="card-title">
                                      <i
                                        class="fa fa-history"
                                        style="color: #000000"
                                      ></i>
                                      Transaction History
                                    </h5>
                                    <p>
                                      View your recent transactions and manage
                                      your wallet.
                                    </p>
                                    <div class="text-center mt-4">
                                      <a
                                        href="#transactions"
                                        id="transactionbtn"
                                        class="btn btn-primary px-4"
                                        style="width: 100%"
                                        >View Transactions</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-center mt-4">
                              <button
                                id="addFund"
                                class="btn btn-primary px-4"
                                style="width: 150px"
                              >
                                Add Funds
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Transaction history section -->
            <div
              class="page-wrapper"
              id="transaction"
              style="background-color: rgb(241, 243, 246); display: none"
            >
              <div class="page-content">
                <div class="dashboard">
                  <div class="container-fluid">
                    <div class="row mt-5">
                      <div class="col-md-8 col-lg-11">
                        <div class="tab-content">
                          <div class="transaction-container">
                            <div class="transaction-card">
                              <h2
                                class="mb-4 text-center"
                                style="color: #000000"
                              >
                                Transaction History
                              </h2>
                              <div class="table-responsive">
                                <table class="table transaction-table">
                                  <thead>
                                    <tr>
                                      <th>Date</th>
                                      <th>Transaction Method</th>
                                      <th>Amount</th>
                                      <th>Order Reference</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% if (walletDetails &&
                                    walletDetails.transaction) { %> <%
                                    walletDetails.transaction.forEach(item=> {
                                    %>
                                    <tr>
                                      <td><%= item.formattedDate %></td>
                                      <td><%= item.transactionsMethod %></td>
                                      <td>₹<%= item.amount %></td>
                                      <td><%= item.orderReference %></td>
                                      <td>
                                        <% if (item.orderId) { %>
                                        <a
                                          href="/singleorder?orderId=<%= item.orderId %>"
                                          class="btn btn-sm btn-primary"
                                        >
                                          View Order
                                        </a>
                                        <% } else { %>
                                        <span style="color: gray">N/A</span>
                                        <% } %>
                                      </td>
                                    </tr>
                                    <% }) %> <% } else { %>
                                    <tr>
                                      <td colspan="4">No transactions found</td>
                                    </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- my account section end -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document
        .getElementById("transactionbtn")
        .addEventListener("click", function (e) {
          e.preventDefault();
          document.getElementById("walletdiv").style.display = "none";
          document.getElementById("transaction").style.display = "block";
        });

      const addFund = document.getElementById("addFund");
      addFund.addEventListener("click", function () {
        Swal.fire({
          title: "Add Funds",
          input: "number",
          inputLabel: "Amount",
          inputPlaceholder: "Enter the amount you want to add",
          inputAttributes: {
            min: 1,
          },
          showCancelButton: true,
          confirmButtonText: "Add",
          cancelButtonText: "Cancel",
          customClass: {
            popup: "swal2-popup",
            title: "swal2-title",
            content: "swal2-content",
            confirmButton: "swal2-confirm",
            cancelButton: "swal2-cancel",
          },
        }).then((result) => {
          if (result.isConfirmed) {
            const amount = result.value;
            console.log(amount);
            fetch("/addfund", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ amount }),
            })
              .then((res) => res.json())
              .then((data) => {
                if (data.success) {
                  const { orderId } = data;
                  console.log("data:", data);
                  var options = {
                    key: data.key_id,
                    amount: amount * 100,
                    currency: "INR",
                    name: "Fashion Factory",
                    description: "Test Transaction",
                    order_id: orderId,
                    handler: function (response) {
                      fetch("/verifyfund", {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                          response,
                          razorpay_payment_id: response.razorpay_payment_id,
                          razorpay_order_id: response.razorpay_order_id,
                          razorpay_signature: response.razorpay_signature,
                        }),
                      })
                        .then((res) => res.json())
                        .then((data) => {
                          if (data.success) {
                            fetch("/addWallet", {
                              method: "POST",
                              headers: {
                                "Content-Type": "application/json",
                              },
                              body: JSON.stringify({ amount }),
                            })
                              .then((res) => res.json())
                              .then((data) => {
                                if (data.success) {
                                  Swal.fire({
                                    title: "Added!",
                                    text: `Funds added: ₹${result.value}`,
                                    icon: "success",
                                    customClass: {
                                      popup: "swal2-popup",
                                      title: "swal2-title",
                                      content: "swal2-content",
                                      confirmButton: "swal2-confirm",
                                    },
                                    showCancelButton: false,
                                    showCloseButton: true,
                                    showLoaderOnConfirm: false,
                                    timer: 3000,
                                  }).then((result) => {
                                    if (result.isConfirmed) {
                                      window.location.href = "/wallet";
                                    }
                                  });
                                } else {
                                  Swal.fire({
                                    title: "Error",
                                    text: "Something went wrong",
                                    icon: "error",
                                    customClass: {
                                      popup: "swal2-popup",
                                      title: "swal2-title",
                                      content: "swal2-content",
                                      confirmButton: "swal2-confirm",
                                    },
                                    showCancelButton: false,
                                    showCloseButton: true,
                                    showLoaderOnConfirm: false,
                                    timer: 3000,
                                  });
                                }
                              });
                          } else {
                            Swal.fire({
                              title: "Error",
                              text: "Payment verification failed",
                              icon: "error",
                              customClass: {
                                popup: "swal2-popup",
                                title: "swal2-title",
                                content: "swal2-content",
                                confirmButton: "swal2-confirm",
                              },
                              showCancelButton: false,
                              showCloseButton: true,
                              showLoaderOnConfirm: false,
                              timer: 3000,
                            });
                          }
                        })
                        .catch((error) => {
                          console.error("Verification request failed", error);
                          Swal.fire({
                            title: "Error",
                            text: "Payment verification failed",
                            icon: "error",
                            customClass: {
                              popup: "swal2-popup",
                              title: "swal2-title",
                              content: "swal2-content",
                              confirmButton: "swal2-confirm",
                            },
                            showCancelButton: false,
                            showCloseButton: true,
                            showLoaderOnConfirm: false,
                            timer: 3000,
                          });
                        });
                    },
                    prefill: {},
                    theme: {
                      color: "#3399cc",
                    },
                  };
                  var razorpayObject = new Razorpay(options);
                  razorpayObject.on("payment.failed", function (res) {
                    Swal.fire({
                      title: "Error",
                      text: "Payment failed",
                      icon: "error",
                      customClass: {
                        popup: "swal2-popup",
                        title: "swal2-title",
                        content: "swal2-content",
                        confirmButton: "swal2-confirm",
                      },
                      showCancelButton: false,
                      showCloseButton: true,
                      showLoaderOnConfirm: false,
                      timer: 3000,
                    });
                  });
                  razorpayObject.open();
                }
              })
              .catch((err) => {
                console.log("error", err);
                Swal.fire({
                  title: "Error",
                  text: "Something went wrong",
                  icon: "error",
                  customClass: {
                    popup: "swal2-popup",
                    title: "swal2-title",
                    content: "swal2-content",
                    confirmButton: "swal2-confirm",
                  },
                  showCancelButton: false,
                  showCloseButton: true,
                  showLoaderOnConfirm: false,
                  timer: 3000,
                });
              });
          }
        });
      });
    });
  </script>
  <%- include('footer') -%>
</main>
